@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<!-- About -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Sobre</h2>
                <h3 class="section-subheading text-muted">Aqui você sabe um pouco sobre mim.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2008-2011</h4>
                                <h4 class="subheading">Término do ensino médio até a entrada na faculdade</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Terminei o ensino médio em 2008, no ano seguinte fiz um curso preparatório e em 2010 comecei a cursar Engenharia civil, mas logo percebi que não era o que queria e iniciei em 2011 curso técnico em Segurança do Trabalho.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2011-2014</h4>
                                <h4 class="subheading">Continuando a jornada</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> Fiz estágio no HUCFF e aprendi bastante coisa, mas logo iniciei o curso de Administração no qual ingressei em 2012 e tranquei em 2014.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015-2016</h4>
                                <h4 class="subheading">Escolha do curso perfeito</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nesse ano foi quando tudo começou a mudar, porque foi a escolha do curso técnico em informática que finalmente me identifiquei, completando em agosto de 2016.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Março 2017</h4>
                                <h4 class="subheading">Sistemas de informação</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Esse foi o início do segundo passo em busca do conhecimento para exercer a profissão que escolhi!</p>
                            </div>
                        </div>
                    </li>
                    <li >
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="https://media.lovemondays.com.br/logos/65cdbe/radix-original.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Agosto 2018</h4>
                                <h4 class="subheading">Segundo Estágio - Radix</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Iniciei estágio na empresa Radix, uma grande oportunidade de aprendizado e crescimento profissional que surgiu para mim! Graças ao meu grande amigo Hugo.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Continua
                                <br>.
                                <br>.
                                <br>.
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
