@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <!-- Header -->
        <header class="masthead">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Seja Bem Vindo</div>
                    <div class="intro-heading text-uppercase">Obrigado pela preferência</div>
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Saiba mais..</a>
                </div>
            </div>
        </header>
    </div>

</div>