
@{
    ViewBag.Title = "Portfolio_Modal";
}
<style>

    #ImagemCenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Curso Java</h2>
                            <p class="item-intro text-muted">Curso concluído em agosto de 2016 pela instituição Senai.</p>
                            <img class="img-responsive img-centered" src="http://www.pe.senai.br/static/media/uploads/noticia/Destaques/java_site.jpg" id="ImagemCenter" alt="">
                            <p>Aprendi Fundamentos do java, instanciar um objeto, herança, agregação, get and set, métodos, polimorfismo </p>
                            <p>
                                <ul class="list-inline">
                                    <li>Data: Agosto 2016</li>
                                    <li>Instituição: Senai</li>
                                    <li>Professor: Palatino</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fechar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Sistemas de informação!</h2>
                            <p class="item-intro text-muted">Instituição Estácio</p>
                            <img class="img-responsive img-centered" src="https://villasboasweb.com.br/admin/institucional-blog/foto/46.jpg" id="ImagemCenter" alt="">
                            <p> Estou no segundo período do curso, ja cursei as matérias: Introdução a lógica de programação, Cenários de tecnologia da informação, Fundamentos de redes de computadores, Organização e arquitetura de computadores e Tecnologia pra internet I </p>
                            <p>Você pode ter acesso ao material feito por mim  <a href="http://jonz.com.br/painel.php">aqui</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Curso Python</h2>
                            <p class="item-intro text-muted">Ainda estou aprendendo a usar o framework Django.</p>
                            <img class="img-responsive img-centered" src="https://http2.mlstatic.com/curso-completo-desenvolvimento-web-com-python-e-django-D_NQ_NP_960262-MLB25651262086_062017-F.jpg" id="ImagemCenter" alt="">
                            <p> <a href="https://www.udemy.com/python-3-na-web-com-django-basico-intermediario/">Nesse link</a>. Você terá acesso ao site udemy no qual o responsável pelo curso professor: Gileno.</p>
                            <p>fez com muito capricho o curso.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Sistemas operacionais</h2>
                            <p class="item-intro text-muted">Tenho conhecimento intermediário em windows e o linux uso a distribuição Ubuntu no qual aprendo alguma coisa nova todos os dias.</p>
                            <img class="img-responsive img-centered" src="http://tecnologia.culturamix.com/blog/wp-content/uploads/2012/10/sistema-operacional-livre-foto.jpg" id="ImagemCenter" alt="">
                            <p>Leio muitos fóruns e vejo vídeos no youtube. <a href="http://www.diolinux.com.br/">Diolinux</a> é um dos que eu sempre estou lendo e assistindo.</p>
                            <p></p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Técnico em informática</h2>
                            <p class="item-intro text-muted">Concluí o meu curso na instituição Senac em agosto de 2016.</p>
                            <img class="img-responsive img-centered" src="http://www.alagoas24horas.com.br/wp-content/uploads/2013/08/42c0fd7fbf404525a18f1dbf8d374a21_senac.jpg" id="ImagemCenter" alt="">
                            <p>Aprendi muita coisa, e esses foram os principais projetos feitos durante o curso:</p>
                            <p>
                                Projeto de montagem e manutenção de computadores<br>
                                Projeto de instalção e configuração de uma rede<br>
                                Projeto de desenvolvimento de um sistema em JAVA<br>
                                Projeto de criação de um site informativo<br>
                                e um Projeto de desenvolvimento de um site (Criação de uma loja virtual).
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Projetos desenvolvidos</h2>
                            <p class="item-intro text-muted">Aqui são alguns dos projetos que eu fiz e estou desenvolvendo para me aprimorar.</p>
                            <img class="img-responsive img-centered" src="https://cdn-images-1.medium.com/max/1125/1*dDNpLKu_oTLzStsDTnkJ-g.png" id="ImagemCenter"  alt="">
                            <p> </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>